[Unit]
Description=DiskScan

[Service]
ExecStart=/bin/bash /root/diskscan.sh
ExecStartPost=/bin/sh -c 'umask 022; echo $MAINPID > /var/run/diskscan.pid'
PIDFile=/var/run/diskscan.pid
Restart=always
# Restart service after 10 seconds if python process crashes
RestartSec=10
SyslogIdentifier=disk-scan

[Install]
WantedBy=multi-user.target
